.dropdown {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  width: 300px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000050;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
  }
.dropdown:hover .dropdown-content {
    display: block;
  } 
.options{
  background-color: #ffffff00;
  color: #8A9699;
  height: 20px;
  text-align: left;
  padding-left: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top:4px;
  font-size: 16px;
  border: #8A9699 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 300px-2rem;
}
.options:hover{
  background-color: #000000;
}