.Logo{
    text-align: center;
}
.logoTitle{
    color: #A8242F;
    font-size: xx-large;
}
.logoDescription{
    color: #A8242F;
    font-size: small;
}
.keyboardLogo{
    width: 100px;
    height: 100px;
}