.StartGame {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #FF1138;
    text-transform: uppercase;
    cursor: pointer;
}
.playIcon {
    width: 30px;
    height: 30px;
}