.ScoreCard{
    display: flex;
    justify-content: space-around;
    margin: .25rem;
    padding: .5rem;
    border-color:rgb(37, 92, 245);
    border-bottom-width: 2px;
    border-style: solid;

}
.gameText{
    flex: 1;
    margin-right: 10px;
}
.scoreText{
    flex: 1;
    display: flex;
    justify-content: center;
}
.highScoreBadge{
    margin-left: 1rem;
    padding: 2px;
    background-color: tomato;
    color: white;
    font-size: small;
}