.ScoreBoard{
   border: 1px red solid;
   flex:1;
   padding: 5px; 
   align-self: start;
   height: 60vh;
   min-width: 200px;
   overflow: hidden;
}
.ScoreBoardHeader{
    color: red;
    font-size: x-large;

}