.LoginCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}
.ChooseButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ChooseButtonContainer div{
   flex:1;
   color: white;
   font: 600;
   font-size: larger;

   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   cursor: pointer;
}
.ChooseButtonContainer  .selected {
    background-color: rgb(10, 42, 54);
}
.LoginCard .inputContainer {
    padding-left: 2rem;
    padding-right: 2rem;
}
.LoginCard  div {
    text-align: center;
}

