.Game{ 
    color: white;
    padding: 10px;
    text-align: center;
}
.body{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.footer{
    position:absolute;
    bottom: 10px;
    left:10px;
    text-align: left;
}