.container {
    position: relative; 
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box; 
}
.container div {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    transition: linear transform .01;  
}
.container .background {
    border: 10px solid gray;
}
.container .rotate {
    border: 10px solid red;
}
.container .left {
    border: 10px solid gray;
  
}
.container .right {
    transform: rotate(180deg);
    border: 10px solid red;
}
.textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}